:host {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.sign-up_panel {
    &_wrapper {
        width: 100%;
        max-width: 500px;
        min-width: 320px;
    }

    &_body {
        display: flex;
        flex-direction: column;
    }

    &_input {
        padding: 1em 0 .5em 0;
        width: 100%;

        & > * > input {
            width: 100%;
        }
    }

    &_footer {
        display: flex;
        flex-flow: row wrap;
        gap: 1em;
    }
}


