<p-panel class="sign-up_panel_wrapper" [formGroup]="formGroup">
    <ng-template pTemplate="header">
        Sign up
    </ng-template>

    <div class="sign-up_panel_body">
        <div class="sign-up_panel_input">
            <span class="p-float-label">
                <input id="input-firstname" type="text" pInputText formControlName="firstName">
                <label for="input-firstname">First Name</label>
            </span>
        </div>

        <div class="sign-up_panel_input">
            <span class="p-float-label">
                <input id="input-lastname" type="text" pInputText formControlName="lastName">
                <label for="input-lastname">Last Name</label>
            </span>
        </div>

        <div class="sign-up_panel_input">
            <span class="p-float-label">
                <input id="input-email" type="text" pInputText formControlName="email">
                <label for="input-email">Email</label>
            </span>
        </div>

        <div class="sign-up_panel_input">
            <span class="p-float-label">
                <input id="input-username" type="text" pInputText formControlName="username">
                <label for="input-username">Username</label>
            </span>
        </div>

        <div class="sign-up_panel_input">
            <span class="p-float-label">
                <input id="input-password" type="password" pInputText formControlName="password">
                <label for="input-password">Password</label>
            </span>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <div class="sign-up_panel_footer">
            <p-button label="Sign up" [disabled]="formGroup.invalid" (click)="signup()"></p-button>
            <p-button label="Sign in" styleClass="p-button-text" [routerLink]="['../sign-in']"></p-button>
        </div>
    </ng-template>
</p-panel>
