<div class="search-bar">
    <button pButton pRipple type="button" icon="pi pi-bars" class="p-button-outlined p-button-secondary p-button-sm p-button-text"></button>
    <span class="search-bar_input p-input-icon-right">
        <i class="pi pi-spin pi-spinner"></i>
        <input type="text" pInputText class="p-inputtext-sm" />
    </span>
</div>
<app-top-bar class="top-bar"></app-top-bar>
<app-contact-list class="contact-list"></app-contact-list>
<app-message-list class="message-list"></app-message-list>
<app-footer class="footer"></app-footer>
