<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="true" [belongsToUser]="true"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="true" [belongsToUser]="true"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="true" [belongsToUser]="true"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="true" [belongsToUser]="true"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="false" [belongsToUser]="false"></app-message-list-item>
<app-message-list-item [class.belongs-to-user]="true" [belongsToUser]="true"></app-message-list-item>
