:host {
    display: grid;
    grid-template-columns: 1em repeat(10, 1fr) 1em;
    border-top: thin solid var(--gray-400);
    grid-row-gap: 1em;
    padding: 1em 0;
    height: 100%;
    overflow-y: scroll;
}

app-message-list-item {
    grid-column: 2 / span 9;
}

